.primary {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  border-radius: var(--border-rad);
  outline: 2px solid transparent;
  outline-offset: 3px;
  /* Styles */
  background-color: var(--primary-background);
  color: var(--text-white);
  /* Animation */
  transition: 0.3s ;
}
.primary:hover {
  background-color: #407dff;
}
.primary:active {
  outline-color: var(--primary-background);
}

.ghost {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  border: 1px black solid;
  border-radius: var(--border-rad);
  /* Styles */
  background-color: transparent;
  color: var(--text-black);
  /* Animation */
  transition: 0.3s ;
}
.ghost:hover {
  border-color: transparent;
  background-color: lightgray;
}
.ghost:active {
  outline-color: var(--primary-background);
}

/*
 Media Breakpoints
 Basic CSS animation
*/
